<div class="landing content">
    <div class="body">
        <div class="background">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header">
                            London UK
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="sections col-lg-12">
                        <dl>
                            <dt>
                            <h2>Кто мы?</h2>
                            </dt>
                            <dd>Мы - проверенная временем быстрорастущая и перспективная команда, предоставляющая услуги
                                в сфере изготовления трехмерных моделей ювелирных изделий, а также их последующего
                                фрезирования и гравировки. Находимся в Украине городе Харьков.
                            </dd>
                            <dt>
                            <h2>Зачем вам это нужно?</h2>
                            </dt>
                            <dd>Возможно вы хотите привнести свой вклад в существующую идею, или сделать клон
                                существующего ювелирного изделия, или разработать совершенно новый дизайн, мы сумеем
                                осуществить вашу мечту.
                            </dd>
                            <dt>
                            <h2>Почему мы?</h2>
                            </dt>
                            <dd>Мы предоставляем наиболее качественный результат точно и в срок, применяя индивидуальный
                                подход для клиентов при выполнении любого заказа. Отлично - этот этап мы уже прошли,
                                блестяще - вот где мы сейчас.
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    fsdf
                </div>
            </div>
        </div>
    </footer>
</div>
